<?xml version="1.0" encoding="UTF-8"?>
<config><foreGround>41,36,33</foreGround><backGround>252,210,92</backGround><sForeGround>250,255,240</sForeGround><sBackGround>84,84,84</sBackGround><font>微软雅黑,1,16</font><rowHeight>50</rowHeight><rowMargin>10</rowMargin><softWare_Width>230</softWare_Width><softWare_Height>620</softWare_Height><softWare_HeightOffset>31</softWare_HeightOffset><screenX>1100</screenX><screenY>60</screenY><gfColor>255,255,255</gfColor><gbColor>0,0,0</gbColor></config>