<?xml version="1.0" encoding="UTF-8"?>
<config><foreGround>25,25,112</foreGround><backGround>220,220,220</backGround><sForeGround>250,250,250</sForeGround><sBackGround>34,139,34</sBackGround><font>华文细黑,1,17</font><rowHeight>50</rowHeight><rowMargin>10</rowMargin><softWare_Width>280</softWare_Width><softWare_Height>680</softWare_Height><softWare_HeightOffset>31</softWare_HeightOffset><screenX>130</screenX><screenY>250</screenY></config>